{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'custom.css' %}">
<style>

</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        {% if temp.temperature == None %}
            var temperature = 0;
        {% else %}
            var temperature = {{ temp.temperature }};
        {% endif %}

        {% if temp.humidity == None %}
            var hum = 0;
        {% else %}
            var hum = {{ temp.humidity }};
        {% endif %}

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Temperature',  temperature],
          ['Humidity', hum],
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 col-xs-1">
            <div class="container-temp">
                <div id="chart_div" style="width: 100px; height: 120px;"></div>
            </div>
            <div class="container-table">
                <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Room</th>
                        <th>Item</th>
                        <th>Status</th>
                        <th>Switch</th>
                    </tr>
                </thead>
                <tbody>
                {% for gpior2 in gpior2_list %}
                    <tr>
                        <td></td>
                        <td>{{ gpior2.text }}</td>
                        {% if gpior2.status == "UNDEFINED" %}
                            <td>UNKNOWN</td>
                        {% else %}
                            {% if gpior2.status == "ON" %}
                                <td bgcolor="#00FF00">{{ gpior2.status }}</td>
                            {% else %}
                                <td bgcolor="#FF0000">{{ gpior2.status }}</td>
                            {% endif %}
                        {% endif %}
                        <td class="material-switch">
                                <input id="{{ gpior2.image.text }}" name="{{ gpior2.image.text }}" type="checkbox"/>
                                <label for="{{ gpior2.image.text }}" class="label-default"></label>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
                        <div class="material-switch pull-right">
                            <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox"/>
                            <label for="someSwitchOptionDefault" class="label-default"></label>
                        </div>

        </div>
        <div class="col-sm-8 col-sm-offset-1">
            <div class="container-map">
                <img src="{% static 'images/map.jpg' %}"/>
            </div>
        </div>
        <div id="toolbar" class="col-sm-1">
            {% for gpior2 in gpior2_list %}
            <script>
                $(function() {
                    $( "#{{ gpior2.image.id_icon }}" ).draggable();
                  });
            </script>
            <div id="{{ gpior2.image.id_icon }}">
                <div class="container-icon">
                <img  src="{{ gpior2.image.image.url }}"/>
                <!--<form action="{% url 'conf_list' %}" method="get">-->
                    <!--<input  type="hidden" value="{{ gpior2.pk }}" name="pk">-->
                    <!--<input  type="hidden" value="{{ gpior2.pin }}" name="pin">-->
                    <!--<button type="submit" class="btn btn-success btn-circle"name="light" value="ON">ON</button>-->
                    <!--<button type="submit" class="btn btn-danger btn-circle" name="light" value="OFF">OFF</button>-->
                <!--</form>-->
            </div>
        </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
