{% extends "base.html" %}
{% block content %}
     <!--<form action="{% url 'conf_run' pk=gpior2.pk %}" method="get">-->
        <!--<div class="demo-card-event mdl-card mdl-shadow&#45;&#45;2dp">-->
            <!--<input type="hidden" value="{{ gpior2.pin }}" name="pin">-->
            <!--<button type="submit" value="ON" name="light" class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-button&#45;&#45;mini-fab">ON</button>-->
            <!--<button type="submit" value="OFF" name="light" class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-button&#45;&#45;mini-fab">OFF</button>-->
        <!--</div>-->
    <!--</form>-->
{% endblock %}