{% extends "base.html" %}
{% block content %}

{% load staticfiles %}
<style>
.panel{
  margin-top: 50px;
}
</style>
<div class="container-fluid">
  <div class="col-sm-4">
    <img src="{% static 'images/rsz_mou.jpg' %}" class="img-circle">
  </div>
  <div class="col-sm-4">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ request.get_lastname }}</td>
              <td>{{ request.user.email }}</td>
              <td>{{ user.get_username }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
