{% extends "base.html" %}
{% block content %}
<style>
.panel{
  margin-top: 50px;
}
</style>
<div class="container-fluid">
  <div class="col-sm-4">
    <img src="http://placehold.it/250x250" class="img-circle">
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ user.get_name }}</td>
              <td>{{ user.get_username }}</h3>
                <td>{{ request.user.email }}</h3>
                </tr>
              </tbody>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
