{% extends "base.html" %}
{% block content %}
        <script type="text/javascript">
              google.charts.load('current', {'packages':['gauge']});
              google.charts.setOnLoadCallback(drawChart);
              function drawChart(){

                var data = google.visualization.arrayToDataTable([
                  ['Label', 'Value'],
                  {% for temperature in temperature_list %}
                    {% if temperature.temperature  == None %}
                        ['{{ temperature.room }}', 0],
                    {% else %}
                        ['{{ temperature.room }}', {{ temperature.temperature }}],
                    {% endif %}
                  {% endfor %}

                ]);
                var options = {
                  width: 500, height: 300,
                  redFrom: 90, redTo: 100,
                  yellowFrom:75, yellowTo: 90,
                  minorTicks: 5
                };
                var chart = new google.visualization.Gauge(document.getElementById('chart'));
                chart.draw(data, options);
              }
              $(function(){
                // don't cache ajax or content won't be fresh
                $.ajaxSetup ({
                    cache: false
                });
                var ajax_load = "<img src='http://automobiles.honda.com/images/current-offers/small-loading.gif' alt='loading...' />";

                // load() functions
                var loadUrl = "http://fiddle.jshell.net/deborah/pkmvD/show/";
                $("#loadbasic").click(function(){
                    $("#result").html(ajax_load).load(loadUrl);
                });

            // end
            });
        </script>
        <div class="col-xs-3">
            <div id="chart"></div>
        </div>

{% endblock %}