{% extends "base.html" %}
{% block content %}
<style>
    .img-container {
        width: 250px;
        height: 250px;
        margin-top: 50%;
    }
</style>
{% load staticfiles %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="container-fluid">
                    <div class="img-container">
                        <a href="{% url 'conf_list' %}"><img class="img-responsive" width="240" height="240" src="{% static 'light-bulb.svg' %}"></a>
                    </div>
                </div>

            </div>
            <div class="col-sm-2 col-sm-offset-1">
                <div class="container-fluid">
                    <div class="img-container">
                        <a href="{% url 'lock_list' %}"><img class="img-responsive" width="240" height="240" src="{% static 'lock.svg' %}"></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 col-sm-offset-1">
                <div class="container-fluid">
                    <div class="img-container">
                        <img class="img-responsive" width="240" height="240" src="{% static 'security-camera.svg' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
