{% extends "base.html" %}
{% block content %}
<style>
    .panel{
        margin-top: 70px;
    }
</style>
{% if next %}
    {% if user.is_authenticated %}
    <p></p>
    {% else %}
    <p>login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post">
{% csrf_token %}
    <div class="col-sm-3 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 align="center">Logged Out</h2>
                <div align="center"><a class="" href="{% url 'conf_list' %}">torna alla home</a></div>
            </div>
        </div>
    </div>

</form>

{% endblock %}
